<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<form [formGroup]="formCadastro">
  <ion-item>
    <ion-label position='floating'>Nome do Curso</ion-label>
    <ion-input formControlName="nome"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position='floating'>Sigla do Curso</ion-label>
    <ion-input formControleName="sigla"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position='floating'>E-mail</ion-label>
    <ion-input formControlName="email"></ion-input>
  </ion-item>

  <ion-button expand='block' (click)="salvarCadastro()">Salvar</ion-button>

</form>

</ion-content>
